var env = {
	SLACK_TOKEN: 'YOUR-TOKEN',
	spreadsheets: {
		fun: "https://docs.google.com/spreadsheets/d/LINK-TO-SPREADSHEET-A/edit",
		abbrev: "https://docs.google.com/spreadsheets/d/LINK-TO-SPREADSHEET-B/edit"
	}

}