var env = {
	SLACK_TOKENS: {
		'SLACK_TOKEN_COMMAND-A': '/abbrev',
		'SLACK_TOKEN_COMMAND-B': '/fun' // or whatever; make sure the code checks for that command
	},
	spreadsheets: {
		fun: "https://docs.google.com/spreadsheets/d/LINK-TO-SPREADSHEET-A/edit",
		abbrev: "https://docs.google.com/spreadsheets/d/LINK-TO-SPREADSHEET-B/edit"
	}

}